---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h3>Latest 5 Posts</h3>

<div class="body-div">
{% set postslist = collections.posts | head(-5) %}
{% include "postslist.njk" %}
</div>

<p class="archive-link">More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
